.pi-bars,
.pi-arrow-left {
  font-size: 1rem;

  @media (max-width: 1020px) {
    font-size: 1rem;
  }
}
.transition-animation {
  transition: width 1s ease-out, margin-left 1s ease-out, flex 1s ease-out;
}
