<section
  class="w-full bg-[#314158] h-[400px] px-4 lg:px-0 flex flex-col items-center justify-between"
>
  <div
    class="flex flex-col justify-center items-center w-[100%] lg:w-[60%] h-full gap-5"
  >
    <h3
      class="text-white leading-normal text-[1.5rem] lg:text-[2rem] font-semibold text-center"
    >
      Ready to Take Control of your Finances?
    </h3>
    <p
      class="text-center mx-4 text-[0.7rem] lg:text-[0.75rem] leading-relaxed text-gray-100 font-small"
    >
      Join PennyWise, your smart companion for managing money, tracking
      progress, and achieving financial freedom. Set clear goals, stay on top of
      your expenses, and enjoy a seamless journey toward making your financial
      dreams a reality.
    </p>

    <button
      class="bg-green-600 hover:bg-green-700 py-4 lg:py-4 w-[100%] lg:w-[40%] text-white text-[0.9rem] lg:text-[0.9rem] transition duration-300 cursor-pointer rounded-full font-semibold shadow-lg"
    >
      Explore Now
    </button>
  </div>
  <div class="px-1 lg:px-8 w-full flex flex-row justify-between">
    <p class="text-gray-50 text-[0.8rem] opacity-80">© PennyWise</p>
    <ul class="flex flex-row space-x-4 cursor-pointer">
      <li>
        <i class="fab fa-twitter text-gray-50 text-[0.8rem] opacity-80"></i>
      </li>
      <li>
        <i class="fab fa-instagram text-gray-50 text-[0.8rem] opacity-80"></i>
      </li>
      <li>
        <i class="fab fa-linkedin-in text-gray-50 text-[0.8rem] opacity-80"></i>
      </li>
      <li>
        <i class="fab fa-github text-gray-50 text-[0.8rem] opacity-80"></i>
      </li>
      <li>
        <i
          class="fa-solid fa-envelope text-gray-50 text-[0.8rem] opacity-80"
        ></i>
      </li>
    </ul>
  </div>
</section>
