<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onView()">
    <mat-icon>dialpad</mat-icon>
    <span>View</span>
  </button>
  <button mat-menu-item (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>

  @if (checkTransactionType()){
  <button mat-menu-item (click)="onAddToExpense()">
    <mat-icon>add</mat-icon>
    <span>Add to Expense</span>
  </button>
  } @else {
  <button
    mat-menu-item
    (click)="onAddToIncome()"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <mat-icon>add</mat-icon>
    <span>Add to Income</span>
  </button>
  }
  <button
    data-bs-toggle="modal"
    data-bs-target="#viewCustomerModal"
    mat-menu-item
    (click)="onDelete()"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>

  <!-- <button mat-menu-item>
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button> -->
</mat-menu>
