.pi-search {
  position: absolute;
  top: 12px;
  left: 31%;
  @media (max-width: 1023px) {
    left: 15px;
    // top: 63px;
  }

  @media (max-width: 1300px) {
    left: 15px;
    top: 20px;
  }

  // @media (min-width: 1301px) {
  //   left: 35%;
  //   top: 13px;
  // }
}
