<circle-progress
  [percent]="progressData?.percent"
  [radius]="progressData?.radius"
  [outerStrokeWidth]="progressData?.outerStrokeWidth"
  [innerStrokeWidth]="progressData?.innerStrokeWidth"
  [outerStrokeColor]="progressData?.outerStrokeColor"
  [innerStrokeColor]="progressData?.innerStrokeColor"
  [animation]="progressData?.animation"
  [animationDuration]="progressData?.animationDuration"
  [subtitle]="'of budget spent'"
  [toFixed]="1"
  [titleFontWeight]="'600'"
  [titleFontSize]="'1.5rem'"
  [subtitleFontSize]="'0.7rem'"
  [innerStrokeWidth]="2"
  [outerStrokeWidth]="10"
  [radius]="80"
  [unitsFontSize]="'1.3rem'"
></circle-progress>
