input.ng-invalid.ng-touched {
  border-color: red;
}

.pi-spinner {
  position: relative;
  top: 1px;
  left: -35%;

  @media (max-width: 768px) {
    left: -25%;
  }
}

.person-svg,
.padlock-svg,
.key-svg {
  position: relative;
  top: -32px;
  left: 10px;
  width: 17px;
  height: auto;
}

.eye-svg,
.eye-slash {
  position: relative;
  top: -48px;
  right: -92%;
  width: 17px;
  height: auto;
  cursor: pointer;
}

.main-container {
  background-image: url("/login/login3-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 1030px) {
    background-image: url("/login/login2-img.png");
  }
}
