<div
  class="flex flex-col justify-start h-[100%] pt-4 pb-2 transition-animation"
>
  <div class="flex justify-between" [ngClass]="isViewSidebar ? 'px-3' : 'px-3'">
    <img
      [src]="logo"
      class="logo-img"
      [ngStyle]="{ width: isViewSidebar || isPhoneScreen ? '6rem' : '4rem' }"
    />
    <div class="block sm:hidden" (click)="closePhoneSidebar()">
      <i class="pi pi-times" style="color: white; font-size: 1.2rem"></i>
    </div>
  </div>
  <div
    class="w-full flex flex-col justify-start items-center py-2 px-2 fs-23 pointer transition-animation"
    style="gap: 10px; margin-top: 40px"
  >
    @for (item of sidebarItems; track item){ @if(!item.children){
    <div
      class="flex flex-row items-center w-full cursor-pointer transition-animation"
      style="gap: 10px"
      [ngClass]="{ 'light-blue-bg': isActiveTab(item) }"
      (click)="navigateToPage(item)"
    >
      <span
        [class.active]="activeTab == item.action"
        style="border-radius: 0px"
      >
        <i
          class="sidebar-icons text-white text-[0.9rem]"
          [ngClass]="item.icon"
          [class.activeText]="activeTab === item.action"
        ></i>
        <!-- <img
          [src]="
            'assets/images/sidebar/' +
            (getActiveTab(item) ? item.yellowIcon : item.purpleIcon)
          "
          alt=""
          class="sidebar-img"
        /> -->
      </span>
      @if(isViewSidebar || isPhoneScreen){
      <a
        class="text-white font-medium text-[0.8rem] w-full"
        [class.activeText]="activeTab == item.action"
        >{{ item.title }}</a
      >}
    </div>
    } @else {
    <div
      class="flex flex-row items-center w-full cursor-pointer transition-animation"
      style="gap: 10px"
      [ngClass]="{ 'light-blue-bg': isActiveTab(item) }"
      (click)="onShowChildren(item)"
      #dropdownContainer
    >
      <span
        [class.active]="activeTab == item.action"
        style="border-radius: 0px"
      >
        <i
          class="sidebar-icons text-white text-[0.9rem]"
          [ngClass]="item.icon"
          [class.activeText]="activeTab === item.action"
        ></i>
      </span>
      @if(isViewSidebar || isPhoneScreen){
      <a
        class="text-white font-medium text-[0.8rem] w-full flex items-center justify-between"
        [class.activeText]="activeTab == item.action"
        >{{ item.title }}
        <i
          class="pi pi-angle-right"
          [ngClass]="{ 'rotate-90': showChildrenMenu }"
        ></i></a
      >}
    </div>
    @for(item of item.children; track item.action){
    <div
      class="flex flex-row gap-3 items-center w-full pl-8 cursor-pointer transition-animation text-white text-[0.8rem] font-medium"
      (click)="navigateToChildPage(item, $event)"
    >
      @if((isViewSidebar || isPhoneScreen) && showChildrenMenu){
      <i
        class="pi pi-circle-on"
        style="font-size: 0.6rem"
        [ngClass]="{ 'text-amber-200': activeChildTab === item.action }"
      ></i>

      <a
        class=""
        [ngClass]="{ 'text-amber-200': activeChildTab === item.action }"
      >
        {{ item.title }}</a
      >}
    </div>
    } } }

    <div
      class="flex flex-row items-center logout-btn-container cursor-pointer"
      (click)="logOut()"
    >
      <span
        ><i class="fa-solid fa-arrow-right-from-bracket text-white"></i
      ></span>

      @if(isViewSidebar || isPhoneScreen){
      <a class="text-white text-[0.8rem] font-medium">Logout</a>
      }
    </div>
  </div>
</div>
