a {
  font-family: "Poppins", sans-serif;
}

.logo-img {
  height: auto;
}

.item-list-group {
  //   border-bottom: 1px solid #55296a;
}

.sidebar-icons {
  //   color: red;
  &:hover {
    // color: green;
  }

  .sidebar-img {
    width: 30px;
    height: auto;
  }
}

span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 40px;
  border-radius: 18px;
}

a {
  // font-size: 1rem;
  // color: #efe2f6;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
}

.active {
  border-radius: none !important;
  border-left: 6px solid oklch(86.9% 0.022 252.894);
  font-weight: 700;
}

.activeText {
  font-weight: 600;
  // color: #0078bd;
  color: oklch(70.4% 0.04 256.788);

  /* 10% transparent blue */
  border-radius: 4px;
}

.logout-btn-container {
  position: fixed;
  bottom: 15px;
  left: 0; // width: 250px;
  .logout-btn {
    color: #efe2f6;
    width: 11rem;
    height: 50px;
    background-color: transparent;
  }
}

.sidebar-img {
  width: 22px;
  height: auto;
}

.light-blue-bg {
  // background-color: rgba(101, 139, 161, 0.1);
  background-color: white;
}

.transition-animation {
  transition: width 1s ease-out, margin-left 1s ease-out, flex 1s ease-out,
    display 1s ease-out;
}
