// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "tailwindcss";
@use "primeicons/primeicons.css";
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

$primary-color: #1d4ed8;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: white;
}

.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0.5;
}

form {
  z-index: 100;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.status-span {
  // background-color: green;
  color: white;
  padding: 10px;
  border-radius: 20px;
  // width: 60px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  // vertical-align: middle;
}

.bg-active {
  background-color: #159d1e;
}

.bg-inactive {
  background-color: #e11313;
}

.bg-hotlist {
  background-color: #8b0000;
}

.bg-whitelist {
  background-color: #0d9488;
}

.ag-grid-table {
  color: #6f6f80;
  cursor: pointer;
  padding: 6px 1px;

  font-size: 0.8rem;
  border-bottom: none;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #dee0e3;
  // vertical-align: middle;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}

.ag-row-last {
  border-bottom: none !important;
}
.ag-row .ag-cell {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.ag-root-wrapper {
  border: none;
}

.ag-header-container {
  // background-color: #efe2f6;
  // border-bottom: 2px solid #cc81f4;
  // background-color: #f5f7fb;
  background-color: #efe2f6;
  border-bottom: 2px solid #cc81f4;
  // border-bottom: 1px solid $primary-color;

  // width: 100%;
}

.ag-header-cell-text {
  color: #6f6f80;
  font-weight: 700;
  font-size: 0.7rem;
}

.ag-root-wrapper {
  border-radius: 0;
}

.ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  border: none;
  outline: none;
}

.span-class {
  // background-color: green;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 80px;
  font-size: 0.6rem;
  // display: block;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.verify-svg {
  width: 15px;
  height: auto;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  // height: 500px;
  // height: calc(100vh - 170px);
  height: 100%;
  margin-top: 30px;
}

.ag-theme-alpine {
  min-width: 600px;
}

/* Style the entire pagination panel */
.ag-paging-panel {
  // background-color: #f0f0f0;
  // padding: 10px;
  border-top: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  @media (max-width: 768px) {
    font-size: 0.6rem;
    gap: 8px;
    // justify-content: start;
    padding: 0;
  }
}

/* Style the page number buttons */
.ag-paging-button {
  // background-color: #007bff;
  // color: white;
  // color: #0078bd;
  // border-radius: 4px;
  // padding: 5px 10px;
  // margin: 0 5px;
  cursor: pointer;
}

:where(.ag-paging-page-size) .ag-wrapper {
  @media (max-width: 768px) {
    min-width: 20px;
  }
}

.ag-picker-field-wrapper {
  @media (max-width: 768px) {
    padding: 4px;
  }
}

.ag-paging-button.ag-active {
  // background-color: #0056b3;
}

.ag-paging-panel-wrapper .ag-icon-next,
.ag-paging-panel-wrapper .ag-icon-previous {
  color: #333;
  font-size: 14px;
}
